.features {
  background-color:$color-background;
}

.section__header,
.section__description {
  text-align: center;
}
.section__header {
  padding-top: 77px;
  margin-bottom: 0;
  font-family: Nunito Sans;
  color:$color-hading;
  @include mobile{
    padding-top: 5px;
  }
}

.section__description {
  padding: 14px 0 60px 0;
  @include font(18px, 30px, normal);
  color: $color-text;
}

.layout-3-column {
  @include columns($width: 334px);
  @include mobile{
    @include columns($width: 364px);
  }
  @include font(14px, 26px, normal);
  color: $color-text;
}

.features__header {
  padding-bottom: 10px;
  @include flex(flex-start);
}

.features__link {
  padding-top: 1px;
  font-family: Nunito Sans;
  @include font(18px, 30px, bold);
  color: $color-brand;
  text-align: center;
}

.features__block {
  background-color: $color-white;
  margin-bottom: 31px;
  @include font(14px, 26px, normal);
}

.block__content-wrap {
  padding: 25px 18px 25px 25px;
}

